hydra-zen
unique-names-generator
torchmetrics
plotext
tqdm
wandb
isort
black
autoflake
pre-commit
git+https://github.com/mikigom/chumpy
transforms3d
pyvista
trimesh
smplx[all]
open3d
blosc2
rtree
trame
trame-vtk
trame-vuetify
git+https://github.com/otaheri/chamfer_distance
git+https://github.com/otaheri/bps_torch
metabatch
scenepic
opencv-python
ema-pytorch
accelerate
