hydra-zen
unique-names-generator
torchmetrics
plotext
tqdm
wandb
isort
black
autoflake
pre-commit
chumpy
open3d
transforms3d
pyvista
trimesh
git+https://github.com/otaheri/chamfer_distance
git+https://github.com/otaheri/bps_torch
