hydra-zen
unique-names-generator
torchmetrics
plotext
tqdm
wandb
isort
black
autoflake
pre-commit
chumpy
transforms3d
pyvista
trimesh
smplx[all]
open3d
git+https://github.com/otaheri/chamfer_distance
git+https://github.com/otaheri/bps_torch
